{% extends "encyclopedia/layout.html" %}

{% block title %}
    {{ title }} - Wiki
{% endblock %}

{% block body %}
    <input type="hidden" name="q" value="{{ title }}">
    {{ content|safe }}
    <form action="{{ title }}" method="POST">
        {% csrf_token %}
        <br>
        <input type="submit" value="Edit" style="margin-top: 20px;">
    </form>
    {% if mes %}
        <p style="color: {{ color }}; margin-top: 10px;">
            <i>{{ mes }}</i><b><i>{{ sa }}</i></b><i>{{ ge }}</i>
        </p>
    {% endif %}
{% endblock %}